# python interpreter
__pycache__/
# pytest cache
.pytest_cache/

# ignored directories
downloads/
logs/
reports/
screenshots/

# virtual environment
testenv/

# IDE files
idea/

# VS Code files
vscode/